container_commands:
  01_migrate:
    command: "source ~/eb-virt/bin/activate && python tati_dictionary/manage.py migrate --noinput"
    leader_only: true
  02_create_admin:
    command: "source ~/eb-virt/bin/activate && python tati_dictionary/manage.py create_initial_admin_user"
    leader_only: true

